@{ 
    ViewBag.Title = "За нас";
}
    <section> 
        <article class="two-column">
            <h1>За нас</h1>
            <p>
                Tech Kingdom предлага цялата гама от продукти на водещите български ИТ
                дистрибутори на едно място. Това са:<br />
                Консултация при избора на информационно оборудване и софтуер,
                доставка на компютърни системи и лаптопи за дома и офиса,
                доставка на богато разнообразие от компютърни компоненти, модули и софтуер,
                изграждане на компютърни и телевизионни локални мрежи и системи,
                изграждане на цялостни информационни решения за бизнеса,
                абонаментна поддръжка и сервиз на компютърна техника.
            <br />
            <br />Tech Kingdom се стреми винаги да бъде в крак с времето и непрекъснато обновява
                продуктите, които предлага, за да отговорят най-точно на желанията на потребителите.
                С продуктите, които предлагат: абонаментно обслужване, безплатни консултации, център
                за поддръжка на клиентите, Tech Kingdom и нейните партньори осигуряват пълно информационно
                обслужване на потребителите, за да могат те най-пълноценно да използват компютърната техника.
            </p>
        </article> 
    <article class="two-column" id="center-img">
        </article> 
    </section>
    