@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Lab5.Models.Category
@{ ViewData["Title"] = "Начало"; }
<div id="banner">
    <img src="images/img01.jpg" style="width:1365px;height:264px;" alt="" />
</div>
<section>
    <article class="three-column">
        <h1>Процесор</h1>
        <p>
            Процесорът е електронна схема, предназначена да извършва
            аритметически и логически действия/операции върху данни,
            „подадени“ му от външен източник – обикновено памет.<br />
            <br />Понятието често се използва за обозначаване на централния
            процесор на дадена компютърна система, но в много случаи
            последните използват и допълнителни специализирани процесори.
        </p> <a asp-controller="ProductList" asp-action="Index" asp-route-categoryId="1" class="button">Виж още</a>
    </article>
    <article class="three-column">
        <h1>Видео карта</h1>
        <p>
            Видео карта в компютрите е разширителна карта, преобразуваща
            графичния образ, съхранен в паметта на компютъра, във форма, подходяща
            за показване на монитора. Съвременните видеокарти изпълняват много по-сложни
            функции от простото формиране на изображението – те имат вграден графичен
            процесор, който може да извършва допълнителна обработка, снемайки по този
            начин натоварването от централния процесор.
        </p> <a asp-controller="ProductList" asp-action="Index"
                asp-route-categoryId="2" class="button">Виж още</a>
    </article>
    <article class="three-column">
        <h1>RAM памет</h1>
        <p>
            Оперативна памет е вид компютърна памет, която съдържа
            инструкциите за централния процесор и различни данни, използвани
            при неговата работа.<br />В съвременните системи се използва и кеш
            памет, която обикновено е разположена физически в чипа на процесора и
            осигурява време за достъп, съизмеримо с вътрешните за процесора операции.
            Най-често под RAM памет се разбира динамична памет с произволен достъп.
        </p> <a asp-controller="ProductList" asp-action="Index" asp-route-categoryId="3" class="button">Виж още</a>
    </article>
</section>

