@{
    ViewData["Title"] = "Contact";
}
    <h2><br />Help us to expand MovieInfo by adding new movies!</h2>
    <h3>Contact us for account creation!</h3>

    <address>
        <b><br />Address:<br /></b>
        <br />Technical University of Sofia<br />
        <br />Bulevard "Sveti Kliment Ohridski" 8<br />
        <br />1756 Studentski Kompleks, Sofia<br />
        <br />Bulgaria<br />
        <br /><br />
    </address>

<aside>
    <div id="map";><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4149.585740073892!2d23.353287784059884!3d42.65711241218251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa842791548ce7%3A0x5c3a3691d990d279!2z0KLQtdGF0L3QuNGH0LXRgdC60Lgg0KPQvdC40LLQtdGA0YHQuNGC0LXRgiAtINCh0L7RhNC40Y8!5e0!3m2!1sbg!2sbg!4v1578910009939!5m2!1sbg!2sbg" width="370" height="300" frameborder="0" style="border:0; float:right; margin-left:200px; margin-top:50px; position: absolute; top:145px; left: 750px; " allowfullscreen=""></iframe></div>
</aside>

<address>
    <strong>Support:</strong> <a href="mailto:MovieInfoSupp@abv.bg">MovieInfoSupp@abv.bg</a><br />
</address>
