@page
@model LogoutModel
@{
    ViewData["Title"] = "Изход";
}

    <section>
        <h3 style="text-align:center;">Успешен изход от приложението.</h3>
        <img src="~/images/img25.jpg" 
             style="width:200px; 
             height:200px; 
             margin-left:590px; 
             margin-bottom:40px;
             margin-top:20px; 
             border-radius:100px;
             box-shadow: 0 0 50px #00046c;
             border:2px solid #00046c;" />
    </section>